<div id="head">
  <div class="container">
    <div class="row">
      <nav class='navbar navbar-expand-lg navbar-light bg-light'>

        <%= link_to image_tag('/logo.png', alt: 'Fresh Air Plus Logo', class: 'img-responsive logo'), root_path %>
        <div align="right">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
        <div id="header-navbar" class="">
          <div class="collapse navbar-collapse align-items-end" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <!--<li class="nav-item active">-->
              <!--<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>-->
              <!--</li>-->
              <li class="nav-item">
                <%= link_to 'Home', root_path, class: 'nav-link' %>
              </li>
              <li class="nav-item">
                <%= link_to 'Product Features', '#', class: 'nav-link' %>
              </li>
              <li class="nav-item">
                <%= link_to 'How It Works', '#', class: 'nav-link' %>
              </li>
              <li class="nav-item dropdown">
                <%= link_to 'Research', '#', id: 'researchDropdown', class: 'nav-link dropdown-toggle',
                            role: 'button', data: {toggle: 'dropdown'}, aria: {haspopup: 'true', expanded: 'false'} %>

                <ul class="dropdown-menu" aria-labelledby="researchDropdown">
                  <li class="dropdown-submenu">
                    <%= link_to 'Germs emitted into the air:', '#', class: 'dropdown-item dropdown-toggle', data: {toggle: 'hover'} %>
                    <ul class="dropdown-menu">
                      <li class="dropdown-item">Fecal Coliform</li>
                      <li class="dropdown-item">Hepatitis A</li>
                      <li class="dropdown-item">Norovirus Virus</li>
                      <li class="dropdown-item">Salmonella</li>
                      <li class="dropdown-item">Shigella</li>
                      <li class="dropdown-item">Other Viruses and Bacteria</li>
                    </ul>
                  </li>
                  <li class="dropdown-submenu">
                    <%= link_to 'Germs spread to:', '#', class: 'dropdown-item dropdown-toggle' %>
                    <ul class="dropdown-menu dropdown-menu-adj-left">
                      <li class="dropdown-item">Counter tops</li>
                      <li class="dropdown-item">Toothbrushes</li>
                      <li class="dropdown-item">Towels</li>
                      <li class="dropdown-item">Water Glasses</li>
                    </ul>
                  </li>

                  <li class="dropdown-submenu">
                    <%= link_to 'Germs do the following:', '#', class: 'dropdown-item dropdown-toggle' %>
                    <ul class="dropdown-menu dropdown-menu-adj-top">
                      <li class="dropdown-item">Linger in the air for up to 2 hours</li>
                      <li class="dropdown-item">Live for 3 hours or more on hard surfaces</li>
                      <li class="dropdown-item">Live for days on moist surfaces, towels, and in crevices</li>
                      <li class="dropdown-item">Travel 6 to 8 feet in the air and may spread over 20 feet away from the toilet</li>
                      <li class="dropdown-item">Spread to other rooms in the air through open doors</li>
                    </ul>
                  </li>

                </ul>
              </li>
              <li class="nav-item">
                <%= link_to 'Installation', install_path, class: 'nav-link' %>
              </li>
              <li class="nav-item">
                <%= link_to 'Coming Soon!', '#', class: 'nav-link disabled' %>
              </li>
              <!--<li class="nav-item dropdown">-->
              <!--<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
              <!--Dropdown-->
              <!--</a>-->
              <!--<div class="dropdown-menu" aria-labelledby="navbarDropdown">-->
              <!--<a class="dropdown-item" href="#">Action</a>-->
              <!--<a class="dropdown-item" href="#">Another action</a>-->
              <!--<div class="dropdown-divider"></div>-->
              <!--<a class="dropdown-item" href="#">Something else here</a>-->
              <!--</div>-->
              <!--</li>-->
              <!--<li class="nav-item">-->
              <!--<a class="nav-link disabled" href="#">Disabled</a>-->
              <!--</li>-->
            </ul>
            <!--<form class="form-inline my-2 my-lg-0">-->
            <!--<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
            <!--<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
            <!--</form>-->
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>

<
<script type="text/javascript" charset="utf-8">
    $('.dropdown-menu a.dropdown-toggle').on('click', function(e) {
        if (!$(this).next().hasClass('show')) {
            $(this).parents('.dropdown-menu').first().find('.show').removeClass("show");
        }
        var $subMenu = $(this).next(".dropdown-menu");
        $subMenu.toggleClass('show');


        $(this).parents('li.nav-item.dropdown.show').on('hidden.bs.dropdown', function(e) {
            $('.dropdown-submenu .show').removeClass("show");
        });


        return false;
    });
</script>